<app-header-career-tech-education [showWestMECSouthwestCampusVerbiage]="true"></app-header-career-tech-education>


<div class="masonry-wrapper">
    <div class="masonry">
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20SWC%20-%20lab%201.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20SWC%20-%20Service%20Side.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20SWC%20Aerial.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20SWC%20Arroyo.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20SWC%20Arroyo%202.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20SWC%20Arroyo%204.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20SWC%20Entry%201.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20SWC%20Entry%202.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20SWC%20Lab%202.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20SWC%20Lab%203.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20SWC%20NEX%20-1.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20SWC%20NEX%20-2%20.jpg"  class="masonry-image">
        </div>
    </div>
    <app-project-disclaimer></app-project-disclaimer>
</div>



















