
//mat-card {
//  background: var(--bg4);
//  mat-card-header {
//    background-color: var(--bg4);
//  }
//}

mat-card {
  margin: 0 12px;
  width: 33%;

  //background: var(--bg3) !important;
  border: 1px solid var(--primary);
}

.placeHolder2X {
  width: 66%;
}

.flex-container {
  justify-content: space-between;
  align-content: space-between;
  padding: 22px 0;
}
