
//mat-card {
//  background: var(--bg4);
//  mat-card-header {
//    background-color: var(--bg4);
//  }
//}

mat-card {
  margin: 0 12px;
}

.flex-container {
  justify-content: space-between;
  align-content: space-between;
  padding: 22px 0;
}
