/*---------------------------------------------------------------------*/
/*  BUTTON Styles
/*---------------------------------------------------------------------*/



/*---------------------------------------------------------------------*/
/*  LARGE BUTTON
/*---------------------------------------------------------------------*/

@media (max-width: 767px) {
    .btn.btn-custom {
        padding: 6px 12px;
        @include font-size($font-size-30); 
        line-height: 1.42857143;
    }
}


/** Make button full width of container **/
@media (max-width: 767px) {
    .btn.btn-custom {
        display: block;
    	width: 100%;
    }
}

