/*---------------------------------------------------------------------*/
/*  BUTTON Styles
/*---------------------------------------------------------------------*/



/*---------------------------------------------------------------------*/
/*  LARGE BUTTON
/*---------------------------------------------------------------------*/
.btn.btn-custom {
    background-color: $persian-green;
    color: $white;
    @include box-shadow(0, 3px, 0, darken($pine-green, 1.5%));
    text-transform: uppercase;
    letter-spacing: 1px;
    @include font-setter($font-raleway, 700);
    @include roundcorners(4px);
}

.btn.btn-custom:hover {
    background-color: $teal;
}

.btn.btn-custom > i {
    padding-right: 2px;
}
