

/*---------------------------------------------------------------------*/
/*  A CONTENT DIVIDER
/*---------------------------------------------------------------------*/


.divider {
  background-color: var(--primary);
  width: 50%;
  margin: 35px 0;
  min-width: 500px;
  height: 2px;
  display: block;
  @include center-block;
}

@media (max-width: 767px) {
  .divider {
    width: 80%;
  }
}