@import '../../../style-mixins-and-modules-imports';


/*---------------------------------------------------------------------*/
/*  8. FOOTER
/*---------------------------------------------------------------------*/
footer.footer {
  background-color: $cod-gray;
  padding-top: 70px;
  padding-bottom: 50px;
}


footer.footer #backToHomeButtonId {
  position: relative;
  .page-scroll {
    margin-top: -40px;
    position: absolute;
    top: -50px;
  }
}

footer.footer #backToHomeButtonId > .page-scroll > a {
  background-color: $persian-green;
  @include box-shadow(0px, 3px, 0px, $pine-green);
  color: $white;
  padding: 5px 30px;
  display: block;
  height: 100%;
  .material-icons {
    font-size: 40px;
  }
}


footer.footer #socialLinks > .item {

  svg {
    width: 50px;
    height: 50px;
    fill: white;
  }
}



footer.footer .copyright {
  margin-top: 20px;
}

footer.footer .copyright p {
  @include font-size($font-size-14);
}
