<!-- FOOTER START -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="flex-container flex-center" id="backToHomeButtonId">
                <div class="page-scroll">
                    <a href="#home" appEgrScrollTo [scrollToId]="'#home'">
                        <span class="material-icons">arrow_upward</span>
                    </a>
                </div>
            </div>

            <div class="flex-container">
                <div class="item">
                    <a href="javascript:void(0)" target="_blank"><i class="fa fa-facebook"></i></a>
                </div>
                <!-- //.item -->
                <div class="item">
                    <a href="https://www.linkedin.com/in/elizabethrendon" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
                <!-- //.item -->
            </div>
        </div>
        <!-- //.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="copyright text-center">
                    <p class="text-colored-grey">&copy; 2016 EGR Software. All rights reserved.</p>
                </div>
                <!-- //.copyright -->
            </div>
            <!-- //.col-md-12 -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</footer>
<!-- //FOOTER END -->
