@import '../../../style-mixins-and-modules-imports';


/*---------------------------------------------------------------------*/
/*  8. FOOTER
/*---------------------------------------------------------------------*/
footer.footer {
  background-color: $cod-gray;

}


footer.footer #backToHomeButtonId {
  position: relative;
  .page-scroll {
    margin-top: -40px;
    position: absolute;
    top: -50px;
  }
}

footer.footer .page-scroll > a {
  background-color: $persian-green;
  @include box-shadow(0px, 3px, 0px, $pine-green);
  color: $white;
  padding: 5px 30px;
  display: block;
  height: 100%;
  .material-icons {
    font-size: 40px;
  }
}





/*---------------------------------------------------------------------*/
/*  8. FOOTER
/*---------------------------------------------------------------------*/

footer.footer {
  padding-top: 70px;
  padding-bottom: 50px;
}

footer.footer > .flex-container > .item > a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  line-height: 48px;
  @include font-size($font-size-24);
  color: darken($white, 50%);
}

footer.footer .copyright {
  margin-top: 20px;
}

footer.footer .copyright p {
  @include font-size($font-size-14);
}
