


<!-- 3. add the sn-skrollr directive, along with skrollr animation attributes, to the elements you wish to animate -->
<!-- <div
  egr-parallax
  data-100p-top="transform: translateY(900px)"
  data-top="transform: translateY(0px)"
  data--100p-top="transform: translateY(-900px)"
>
  this div should have paralex stuff...................................
</div> -->



<!-- HERO START -->
<header id="home" class="hero hero-bg-img bg-img-container">
    <div class="bg-img-table-container">
        <div class="bg-img-table-cell">
            <div class="hero-text text-center">
                <h1>Elizabeth Hawkins</h1>
                <h1 class="small">Architect</h1>
                <p>something something something </p>
                <div egr-page-scroll id="goToProfileHeroButtonId">
                    <div class="page-scroll">
                        <a href="#profile" class="btn btn-lg btn-custom">Know Me Better</a>
                    </div>
                </div>
                <!-- //.page-scroll -->
            </div>
            <!-- //.hero-text -->
        </div>
        <!-- //.bg-img-table-cell -->
    </div>
    <!-- //.bcg -->
</header>
<!-- //HERO END -->