<!-- HERO START -->
<header id="home" class="hero hero-bg-img bg-img-container">
    <div class="bg-img-table-container">
        <div class="bg-img-table-cell">
            <div class="hero-text center-block">
                <h1 class="large">Elizabeth Hawkins</h1>
                <h1 class="small">Architect</h1>
                <p>I am one who designs buildings;
                    creating spaces and places to serve and delight.</p>
                <div id="goToProfileHeroButtonId">
                    <div class="page-scroll">
                        <a href="#profile" mat-raised-button [appEgrScrollTo]="'#profile'" color="primary">Know Me Better</a>
                    </div>
                    <!--<button mat-raised-button color="primary">Primary</button>
                    <button mat-button>Dismiss</button>
                    <button mat-button>Learn More</button>
                    <button mat-button>Got It</button>
                    <a mat-button routerLink="https://www.arungudelli.com">mat-button</a>

                    <button mat-stroked-button>Add to Cart</button>
                    <a mat-stroked-button routerLink="https://www.arungudelli.com">
                        mat-stroked-button</a>

                    <button mat-flat-button>mat-flat-button</button>
                    <a mat-flat-button routerLink="https://www.arungudelli.com">
                        mat-flat-button</a>

                    <button mat-raised-button>mat-raised-button</button>
                    <a mat-raised-button routerLink="https://www.arungudelli.com">
                        mat-raised-button</a>-->


                </div>
                <!-- //.page-scroll -->
            </div>
            <!-- //.hero-text -->
        </div>
        <!-- //.bg-img-table-cell -->
    </div>
    <!-- //.bcg -->
</header>
<!-- //HERO END -->