@import '../../../style-mixins-and-modules-imports';

//---------------------------------------------------------------------*/
//  HOME Color
//---------------------------------------------------------------------*/
header.hero .bg-img-table-cell .hero-text {
  .company-logo{
    padding: 5px 5px;
    content: url('../../../assets/logos/AH-Logo-&-Sign--VECTOR-W.png');
    max-height: 20%;
    max-width: 20%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.8);
  }

  .company-slogan {
    padding: 5px 5px;
    max-height: 20%;
    max-width: 20%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.8);
    color: var(--fg);
  }
}


//header.hero .bg-img-table-cell .hero-text {
//  /* color: darken($white, 1.5%); */
//  color: rgba($white, 0.7);
//}


//---------------------------------------------------------------------*/
//  HOME
//---------------------------------------------------------------------*/
//header.hero {
//  display: block;
//}

header.hero .bg-img-table-cell .hero-text .page-scroll {
  margin-top: 40px;
}

/*---------------------------------------------------------------------*/
/*  4.1. HERO Background Image
/*---------------------------------------------------------------------*/

header.hero-bg-img {
  background-image: url('../../../assets/images/CTE/WM SWC Entry 1grayWhite.jpg');
}

header.hero-bg-img > .bg-img-table-container {
  background-color: rgba(0,0,0, 0.1);
}


