#profile {
  .profile-text {
    padding: 0 10px;
  }

  .container {
    .flex-container {
      flex-direction: column;
      align-items: center;

      .col-half {
        .profile-picture {
          text-align: center;
          svg {
            width: 100%;
            height: 500px;

            @media (max-width: 768px) {
              width: 100vw;
              height: 123vw;
            }
            g {
              path {
                stroke: var(--warn);
              }
            }
          }
        }
      }
    }
  }
}



