<!-- PROFILE SECTION START -->
<section id="profile" class="section">
    <div class="container section-wrapper">
        <div class="section-content">
            <div class="flex-container">
                <div class="col-half">
                    <!-- PROFILE TEXT START -->
                    <div class="profile-text padding-right-yes">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="section-title text-colored-grey">Hello - I am Elizabeth Hawkins</h2>
                                <p>
                                    I founded Architect Hawkins LLC with the mission of creating a design firm
                                    that provides quality design services in the commercial and residential sectors.
                                </p>
                                <span class="divider"></span>
                                <p class="text-colored-grey">
                                    Design is about making decisions - lots of them, and at many different stages.
                                    Some decisions come easy, others require research and input. Such as in life,
                                    some decisions are small and can wait, and there are those that can not.
                                </p>
                                <p class="">
                                    I help you navigate the process of conceptualizing a design idea and create
                                    sizable and measurable steps to move forward to realization.
                                </p>

                                <p class="text-colored-grey">
                                    Communication is open and honest.
                                </p>
                            </div>
                            <!-- //.col-md-12 -->
                        </div>
                        <!-- //.row -->
                    </div>
                    <!-- //PROFILE TEXT END -->
                    <!-- CONTACT DETAILS START -->
                    <div class="contact-details">
                        <div class="row">
                            <div id="resumeButtonId"   class="col-md-12">
                                <div class="page-scroll text-center">
<!--                                    <a href="#resume" mat-raised-button [appEgrScrollTo]="'#profile'" color="primary">-->
<!--                                        <i class="icon-File-Download"></i> More...-->
<!--                                    </a>-->
                                    <app-accordion [title]="'More...'">
                                        <p>I have been practicing architecture since 2004; I am a licensed architect
                                            in the State of Arizona.  I hold an NCARB certification, providing the                                              opportunity to work across the United States, through the ability of
                                            acquiring licensing reciprocity, through this certification.  I have worked
                                            on multiple building types ranging from educational facilities, office                                              buildings, support service facilities, as well as involved in residential
                                            work and consultation and planning and designing projects over the course
                                            of my experience.</p>

                                        <p>I am actively working on developing a sustainable lifestyle –
                                            which includes active research and design development in off-grid                                                   design.</p>

                                        <p class="bold">Resume & References Available Upon Request</p>

                                        <p class="bold ">Additional Resources:</p>
                                        <div>Arizona State Board of Technical Registration
                                            <div><a class="bold" href="https://btr.az.gov/">https://btr.az.gov</a></div>
                                         </div>
                                        <div>
                                            National Council of Architectural Registration Boards
                                            <div><a class="bold" href="https://www.ncarb.org/">https://www.ncarb.org</a></div>
                                        </div>
                                    </app-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //CONTACT DETAILS END -->
                </div>
                <!-- //.col-md-7 -->
                <!-- PROFILE PICTURE START -->
                <div class="col-half">
                    <div class="profile-picture">
                        <img src="assets/images/hero-sections/DesignPhilosophyCopyrightAHLLC.png" class="responsive">
                    </div>
                </div>
                <!-- //PROFILE PICTURE END -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.container -->
</section>
<!-- //PROFILE SECTION END -->
