#profile {
  .profile-text {
    padding: 0 10px;
  }

  .container {
    .flex-container {
      flex-direction: column;
      align-items: center;

      .col-half {
        .profile-picture {
          text-align: center;
          .responsive {
            width: 100%;
            //height: auto;
          }
        }
      }
    }
  }
}



