
//mat-card {
//  background: var(--bg4);
//  mat-card-header {
//    background-color: var(--bg4);
//  }
//}

.flex-container {
  padding: 22px 0;
  mat-card {
    margin: 0 12px;
    width: 33%;

    //background: var(--bg3) !important;
    border: 1px solid var(--primary);
  }

  .placeHolder1X {
    width: 33%;
  }

  .placeHolder2X {
    width: 66%;
  }
}

//Mobile styling
@media (max-width: 430px) {
  .flex-container {
    padding: inherit;
    mat-card {
      margin: inherit;
      margin-bottom: 30px;
      width: 100%;
    }
  }
}
