<div class="section-header-65 padding-tb-15">
    <div class="bold underline">Specialty Schools</div>
    <div class="italic">
        While I find that every project is unique – there are those projects that require a
        greater sensitivity and awareness in design, whether it is learning sign language to
        communicate, or kneeling down to see the world from a child’s eyes.
    </div>

    <br/><br/>

    <div *ngIf="showPhoenixDaySchoolForTheDeafVerbiage">
        <div>
            <span class="bold underline">Phoenix Day School for the Deaf</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phoenix, AZ</span>
        </div>
        <div>
            51,286 SF
        </div>
        <div class="section-header-80">
            This two story facility services the deaf culture - spaces include administrative
            offices, the media center, and assembly space for the campus, and the middle school
            and high school classrooms for deaf students.
        </div>

        <div class="bold">
            AWARD:
        </div>
        <div>
            2008 Governor’s Achievement Awards for Innovative School Design: Accessibility for All:
        </div>
    </div>

    <div *ngIf="showLaveenElementrySchoolVerbiage">
        <div class="bold">Laveen Elementary School</div>
        <div>
            <span class="bold underline">Laveen Elementary School District # 59</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Laveen, AZ</span>
        </div>
        <div>96,613 SF</div>

        <div>
            Children were envisioned as butterflies that bud and then fly away,
            this was the design concept on the west wall of the media center, in
            colorful small glass gems, that fluttered along a wall and disappear
            from sight.  This concept of the selective use of color was used throughout
            the interior of the campus design.  The exterior is contextual to the
            surrounding and blends into the mountain range.
        </div>
        <div>
            Campus plan consisting of 4 buildings – Buildings A, B, C, D
        </div>
        <div class="section-header-80">
            <div>Building A:  Administrative Spaces & Media Center & Food Service</div>
            <div>Building B:  Pre-K & Kindergarten Classrooms</div>
            <div>Building C:  Gymnasium / Assembly Space for Campus</div>
            <div>Building D:  2 story classroom wing for Grades 1 thru 8th</div>
        </div>
    </div>
</div>
