<div class="section-header-65 padding-tb-15">
    <div class="bold underline">SUPPORT SERVICES</div>
    <div class="italic">
        The utilitarian spaces are the back bones of operations - where
        the job gets done.  The care to bring these pragmatic design
        solutions that are highly cost effective, efficient, and
        functional – are necessary to ensure that the flow of work
        continues seamlessly for these operations that thrive on clear
        and straightforward processes.  There is something that I deeply
        appreciate in a no frills and functional program.  Perhaps in my
        plainness – I embrace the challenge to make something that will
        also delight those that use these spaces day- in and day-out.
    </div>


    <br/>

    <div>
        <span class="bold">Buckeye Elementary School District #33 </span>
        <span class="bold">District Office & Maintenance/Transportation Complex</span>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Buckeye, AZ</span>
    </div>
    <div>
        19,000 SF District Office
    </div>
    <div>
        Administrative offices, conference rooms, high-density records storage rooms and 225-seat
        assembly space, designed to be separated by operable partitions into 3 separate staff-training rooms.
    </div>
    <div>
        13,200 SF Maintenance / Transportation Facility
    </div>
    <div>
        Drive-through bays with lifts for buses and district vehicles, an exterior wash bay, fluids and
        battery and tools storage, diagnostic area, mezzanine for equipment storage, transportation
        offices, and training / break rooms, and  building maintenance trades equipment storage.
    </div>


    <div>
        <span class="bold">Madison Elementary School District #38 – Warehouse Facility</span>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phoenix, AZ</span>
    </div>
    <div>
        12,320 SF
    </div>
    <div>
        A new district warehouse facility and loading dock; consists of offices, print
        room, science storage room, along with warehouse and mezzanine storage.
    </div>

    <div class="bold">
        Award Winning Project
    </div>
    <div>
        2018 VP Building Hall of Fame: Warehouse Category
    </div>
</div>
