@import '../../../../style-mixins-and-modules-imports';

//---------------------------------------------------------------------*/
//  HOME Color
//---------------------------------------------------------------------*/
header.hero .bg-img-table-cell .hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .company-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 5px 5px;

    .company-logo{
      content: url('../../../../assets/logos/AH-Logo-&-Sign--VECTOR-W.png');
      background-color: rgba(255,255,255,0.8);
      width: 100%;
    }

    .company-slogan {
      padding: 15px 15px;
      //width: 100%;
      background-color: rgba(255,255,255,0.8);
      color: var(--fg);
    }

    .page-scroll {
      margin-top: 40px;
    }
  }
}

/*---------------------------------------------------------------------*/
/*  4.1. HERO Background Image
/*---------------------------------------------------------------------*/

header.hero-bg-img {
  background-image: url('../../../../assets/images/CTE/WM SWC Entry 1grayWhite.jpg');
}

header.hero-bg-img > .bg-img-table-container {
  background-color: rgba(0,0,0, 0.1);
}




header.hero .bg-img-table-cell .hero-container {
  @media (max-width: 768px) {
    .company-container {
      width: 80%;
    }
  }
}
