<app-header-cultural-community></app-header-cultural-community>


<div class="masonry-wrapper">
    <div class="masonry">
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/Cultural/TO%20Cultural%20Center.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/Cultural/TO%20FLOOR%20PLAN%2002-03-05.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/Cultural/TO%20Model.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/Cultural/TO%20Museum%20-%20Exhibits.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/Cultural/TO%20Museum%20Entry.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/Cultural/TO%20Museum.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/Cultural/TO_Cultural%20Center.JPG"  class="masonry-image">
        </div>
    </div>
</div>






