<div class="flex-container">
    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20Central%20-%20Bldg%20B-4.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20Central%20-%203.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20Central%20B%20-%201.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>



<div class="flex-container">
    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20MEC%20Central%20B%20-2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20NEC%20-2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20NEC%20-3.JPG" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>



<div class="flex-container">
    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20NEC%20-4.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20NEC%20-5.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20NEC%201.JPG" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>




<div class="flex-container">
    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20SWC%20-%20lab%201.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20SWC%20-%20Service%20Side.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20SWC%20Aerial.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>



<div class="flex-container">
    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20SWC%20Arroyo.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20SWC%20Arroyo%202.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20SWC%20Arroyo%204.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>



<div class="flex-container">
    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20SWC%20Entry%201.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20SWC%20Entry%202.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20SWC%20Lab%202.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>



<div class="flex-container">
    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20SWC%20Lab%203.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20SWC%20NEX%20-1.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/CTE/WM%20SWC%20NEX%20-2%20.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>

