<!-- header -->
<app-header></app-header>

<app-top-menu></app-top-menu>

<!-- PORTFOLIO SECTION START -->
<section id="portfolio" class="section">
   <div class="flex-container">
       <mat-card class = "tp-card col-thirds">
           <mat-card-header>
               <div mat-card-avatar class = "tp-header-image"></div>
               <mat-card-title>HTML5</mat-card-title>
               <mat-card-subtitle>HTML Basics</mat-card-subtitle>
           </mat-card-header>
           <img mat-card-image class="img-responsive" src = "./../../../assets/images/portfolio/scfaz.png">
           <mat-card-content>
               <p>
                   HTML5 is the next major revision of the HTML standard superseding
                   HTML 4.01, XHTML 1.0, and XHTML 1.1. HTML5 is a standard
               </p>
           </mat-card-content>
       </mat-card>
       <mat-card class = "tp-card col-thirds">
           <mat-card-header>
               <div mat-card-avatar class = "tp-header-image"></div>
               <mat-card-title>HTML5</mat-card-title>
               <mat-card-subtitle>HTML Basics</mat-card-subtitle>
           </mat-card-header>
           <img mat-card-image class="img-responsive" src = "./../../../assets/images/portfolio/scfaz.png">
           <mat-card-content>
               <p>
                   HTML5 is the next major revision of the HTML standard superseding
                   HTML 4.01, XHTML 1.0, and XHTML 1.1. HTML5 is a standard
               </p>
           </mat-card-content>
       </mat-card>
       <mat-card class = "tp-card col-thirds">
           <mat-card-header>
               <div mat-card-avatar class = "tp-header-image"></div>
               <mat-card-title>HTML5</mat-card-title>
               <mat-card-subtitle>HTML Basics</mat-card-subtitle>
           </mat-card-header>
           <img mat-card-image class="img-responsive" src = "./../../../assets/images/portfolio/scfaz.png">
           <mat-card-content>
               <p>
                   HTML5 is the next major revision of the HTML standard superseding
                   HTML 4.01, XHTML 1.0, and XHTML 1.1. HTML5 is a standard
               </p>
           </mat-card-content>
       </mat-card>
   </div>
    <div class="flex-container">
       <mat-card class = "tp-card col-thirds">
           <mat-card-header>
               <div mat-card-avatar class = "tp-header-image"></div>
               <mat-card-title>HTML5</mat-card-title>
               <mat-card-subtitle>HTML Basics</mat-card-subtitle>
           </mat-card-header>
           <img mat-card-image class="img-responsive" src = "./../../../assets/images/portfolio/scfaz.png">
           <mat-card-content>
               <p>
                   HTML5 is the next major revision of the HTML standard superseding
                   HTML 4.01, XHTML 1.0, and XHTML 1.1. HTML5 is a standard
               </p>
           </mat-card-content>
       </mat-card>
   </div>
</section>
<!-- //PORTFOLIO SECTION END -->


<!-- footer -->
<app-footer></app-footer>