
<app-header-support-service-facilities [showMadisonElementraySchoolVerbiage]="true"></app-header-support-service-facilities>



<div class="masonry-wrapper">
    <div class="masonry">
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/Madison%201.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/Madison%202.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/Madison%203.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/Madison%204.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/ENTRY_MT.JPGg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/Madison%205.jpg"  class="masonry-image">
        </div>
    </div>
</div>












