

<mat-toolbar color = "primary" class="eh-toolbar">
    <mat-toolbar-row>
        <a mat-raised-button routerLink="/home" routerLinkActive="active">
            <span class="btn-description">Home</span>
            <mat-icon class="example-icon">home</mat-icon>
        </a>
        <a mat-raised-button [appEgrScrollTo]="'#profile'">
            <span class="btn-description">Profile</span>
            <mat-icon class="example-icon">supervisor_account</mat-icon>
        </a>
        <a mat-raised-button routerLink="/portfolio" routerLinkActive="active">
            <span class="btn-description">Portfolio</span>
            <mat-icon class="example-icon">desktop_windows</mat-icon>
        </a>
        <a mat-raised-button [appEgrScrollTo]="'#services'">
            <span class="btn-description">Services</span>
            <mat-icon class="example-icon">card_membership</mat-icon>
        </a>
        <a mat-raised-button [appEgrScrollTo]="'#contact'">
            <span class="btn-description">Contact</span>
            <mat-icon class="example-icon">email</mat-icon>
        </a>

    </mat-toolbar-row>
</mat-toolbar>

