

<mat-toolbar color = "primary" class="eh-toolbar">
    <ul>
        <li class = "gap"><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class = "gap"><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
        <li class = "gap"><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
        <li class = "gap"><a routerLink="/services" routerLinkActive="active">Services</a></li>
        <li class = "gap"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
</mat-toolbar>

