.eh-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .mat-raised-button {
    flex: 1 1 auto;
    margin: 0 10px;
    background-color: var(--accent);
    //height: 100%;
    .mat-icon {
      padding: 0 5px;
      color: var(--primary);
    }
  }

}



