@import '../../../style-mixins-and-modules-imports';

.eh-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  @include sticky-menu;

  &.show-element{
    top: 0;
    transition: top 0.25s ease-in;
  }
  &.hide-element{
    top: -64px;
    transition: top 0.25s ease-out;
  }


  .mat-raised-button {
    flex: 1 1 auto;
    margin: 0 10px;
    background-color: var(--accent);
    display: inline-block;
    span {
      display: inline-block;
    }
    .btn-description {

    }
    .mat-icon {
      padding: 0 5px;
      color: var(--primary);
    }
  }

}



