.eh-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .mat-raised-button {
    flex: 1 1 auto;
    margin: 0 10px;
    background-color: var(--accent);
    //height: 100%;
    display: inline-block;
    span {
      display: inline-block;
      color: green;
      border: 1px solid red;
      height: 100%;
    }
    .btn-description {
      color: red;
    }
    .mat-icon {
      padding: 0 5px;
      color: var(--primary);
    }
  }

}



