
.left-border {
  border-left: 1px solid var(--primary);
}

#services .section-wrapper {
  .col-thirds {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    //border: 1px solid red;

    span.material-icons {
      display: flex;
      color: var(--primary);
      padding-bottom: 15px;
    }
  }

}