@import 'src/style-imports';


.eh-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  .filler {
    flex: 1 1 auto;
  }
  .gap {
    margin: 0 10px;
    height: 100%;
  }

  ul {
    display:inline-block;
    li {
      display:inline-block;
      list-style-type: none;
    }
    li:hover {
      background: white;
    }
    li > a {
      text-decoration: none;
    }
  }

}



