
<app-header-support-service-facilities [showBuckeyeElementrayMaintenanceVerbiage]="true"></app-header-support-service-facilities>



<div class="masonry-wrapper">
    <div class="masonry">
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/Madison%201.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/Madison%202.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/Madison%203.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/Madison%204.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/ENTRY_MT.JPGg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/Madison%205.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/Buckeye%20DO-1.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/Buckeye%20DO-2.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/Buckeye%20DO-3.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/Buckeye%20-%20ELEV_E_DO_3.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/Buckeye%20DLT_DO%20Corner%20Joint.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/ELEV_S_M&T.JPG"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/ServiceSupportFacilities/DTL_Diffuser.JPG"  class="masonry-image">
        </div>
    </div>
</div>












