<app-header-career-tech-education [showWestMECNortheastCampusPhoenixVerbiage]="true"></app-header-career-tech-education>


<div class="masonry-wrapper">
    <div class="masonry">
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20NEC%20-2.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20NEC%20-3.JPG"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20NEC%20-4.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20NEC%20-5.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20NEC%201.JPG"  class="masonry-image">
        </div>
    </div>
    <app-project-disclaimer></app-project-disclaimer>
</div>





















