
#contact {
  .flex-container {
    align-items: center;
    justify-content: center;
    .phone-section {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        display: inline-block;
      }
      a.phone-icon {
        margin-top: 10px;
      }
    }
  }
}
#contact .contact-details {
  .speech-bubble {
    a {
      display: inline-block;
      height: 100%;
      position: relative;
    }
    .email-icon-title {
      display: inline-block;
      position: absolute;
      top: 55%; left: 60px;
    }
  }
}

.left-border {
  border-left: 1px solid var(--primary);
}