

#contact .contact-details .speech-bubble h3 {
  padding-top: 50px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-family: Raleway,sans-serif;
  font-style: normal;

}