<!-- CONTACT SECTION START -->
<section id="contact" class="section">
    <div class="container section-wrapper">
        <div class="section-content">
            <div class="center-content">
                    <h2 class="section-title">Contact Me</h2>
                    <p class="section-subtitle">
                        Have a question or project you'd like to discuss?
                    </p>
                    <span class="divider"></span>
            </div>
            <!-- //.row -->
            <div class="flex-container-half">
                <div class="col  center-content">
                    <div class="contact-details text-center">
                        <div class="speech-bubble">
                            <h3>Details</h3>
                            <ul class="list-unstyled text-colored-grey">
                                <li>Elizabeth Hawkins</li>
                                <li><a href="tel:16025719149">1-602-571-9149</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col center-content">
                    <!-- CONTACT DETAILS START -->
                    <div class="contact-details text-center">
                        <div class="speech-bubble">
                            <a href="mailto:architecthawkins.com?subject=EHawkins Site:">
                                <span class="material-icons  md-190">mail_outline</span>
                            </a>
                            <h4 class="icon-title text-colored-grey">
                                <span>Email</span>
                            </h4>
                        </div>
                        <h4 class="text-colored-grey"><a href="mailto:architecthawkins.com?subject=EHawkins Site:">architecthawkins.com</a></h4>
                    </div>
                    <!-- //CONTACT DETAILS END -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.container -->
</section>
<!-- //CONTACT SECTION END -->
<!-- MAP START -->
<div egr-google-maps address="2901 E Greenway Rd, Phoenix, AZ 85032" latitude="33.625761" longitude="-112.019004">
</div>
<!-- //MAP END -->
