@import 'src/style-imports';


/*---------------------------------------------------------------------*/
/*  6.12. SECTION - CONTACT
/*---------------------------------------------------------------------*/

#contact {
  background-color: darken($cod-gray, 5%);
}


/*---------------------------------------------------------------------*/
/*  6.12.2. CONTACT DETAILS
/*---------------------------------------------------------------------*/

#contact .contact-details {
  margin-top: 20px;
  margin-bottom: 40px;
}

#contact .contact-details .speech-bubble {
  position: relative;
  width: 170px;
  height: 170px;
  margin: auto;
}

#contact .contact-details .speech-bubble > a {
  display: block;
  position: absolute;
  z-index: 5;
  @include font-size($font-size-170);
}

#contact .contact-details .speech-bubble > i {
  display: block;
  position: absolute;
  z-index: 5;
  @include font-size($font-size-170);
  color: $silver-chalice;
}

#contact .contact-details .speech-bubble h4 {
  padding-top: 50px;
  @include font-size($font-size-30);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

#contact .contact-details h2 {
  margin-top: 20px;
  @include font-size($font-size-40);
  text-transform: uppercase;
  letter-spacing: 1px;
}

#contact .contact-details h4 {
  margin-top: 10px;
}