<app-header-career-tech-education [showWestMECCentralCampusVerbiage]="true"></app-header-career-tech-education>


<div class="masonry-wrapper">
    <div class="masonry">
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20Central%20-%20Bldg%20B-4.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20Central%20-%203.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/CTE/WM%20Central%20B%20-%201.jpg"  class="masonry-image">
        </div>
    </div>
    <app-project-disclaimer></app-project-disclaimer>
</div>



















