<app-header-specialty-schools></app-header-specialty-schools>

<div class="flex-container">
    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/SpecialtySchools/Laveen_1a.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/SpecialtySchools/Laveen_4.JPG" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/SpecialtySchools/Laveen_1.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>


</div>



<div class="flex-container">
    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/SpecialtySchools/Laveen%20Courtyard.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/SpecialtySchools/Laveen%20Int_DSCN3648.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/SpecialtySchools/Laveen%20Pre-k.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>




<div class="flex-container">
    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/SpecialtySchools/Laveen_DSCN3508.JPG" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/SpecialtySchools/Laveen_DSCN3615.JPG" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/SpecialtySchools/PDSD.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>


<div class="flex-container">
    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/SpecialtySchools/PDSD_Ext.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card" appEgrImageFullPagePreview>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/portfolio/SpecialtySchools/PDSD_bubble%20diagram_1.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>

    <div class="placeHolder1X"></div>
</div>
