<app-header-specialty-schools [showPhoenixDaySchoolForTheDeafVerbiage]="true"></app-header-specialty-schools>



<div class="masonry-wrapper">
    <div class="masonry">
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/SpecialtySchools/PDSD.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/SpecialtySchools/PDSD_Ext.jpg"  class="masonry-image">
        </div>
        <div class="masonry-item" appEgrImageFullPagePreview>
            <img src="assets/images/portfolio/SpecialtySchools/PDSD_bubble%20diagram_1.jpg"  class="masonry-image">
        </div>
    </div>
    <app-project-disclaimer></app-project-disclaimer>
</div>














