@import 'src/style-imports';


/*---------------------------------------------------------------------*/
/*  6.1. SECTION - PROFILE
/*---------------------------------------------------------------------*/
#profile {
  background-color: darken($cod-gray, 5%);
}
/*---------------------------------------------------------------------*/
/*  6.1.3. PROFILE PICTURE
/*---------------------------------------------------------------------*/
#profile .pp-wrapper .profile-picture.style-two .title {
  background-color: $mine-shaft;
}


/*---------------------------------------------------------------------*/
/*  6.1.1. PROFILE TEXT
/*---------------------------------------------------------------------*/

#profile .profile-text {
  text-align: center;
}

#profile .profile-text h2 {
  text-transform: uppercase;
}


/*---------------------------------------------------------------------*/
/*  6.1.2. CONTACT DETAILS
/*---------------------------------------------------------------------*/

#profile .contact-details {
  margin-top: 30px;
}

#profile .contact-details h4 {
  margin-bottom: 15px;
  @include font-size($font-size-18);
  text-transform: uppercase;
}

#profile .contact-details ul.list-unstyled > li {
  padding: 2px 0px;
  @include font-size($font-size-16);
}


#profile .contact-details a.btn-custom {
  margin-top: 20px;
}



/*---------------------------------------------------------------------*/
/*  6.1.3. PROFILE PICTURE
/*---------------------------------------------------------------------*/

#profile .pp-wrapper {
  position: relative;
}

#profile .pp-wrapper .profile-picture h4 {
  text-transform: uppercase;
}

#profile .pp-wrapper .profile-picture.style-one {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#profile .pp-wrapper .profile-picture.style-two img {
  margin-top: 100px;
}

#profile .pp-wrapper .profile-picture.style-two .title {
  display: block;
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}





