<!-- PROFILE SECTION START -->
<section id="profile" class="section">
    <div class="container section-wrapper">
        <div class="section-content">
            <div class="flex-container">
                <div class="col-md-7">
                    <!-- PROFILE TEXT START -->
                    <div class="profile-text padding-right-yes">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="section-title">Hi, My Name is Elizabeth</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam si explicavisset, non tam haesitaret. Scio enim esse quosdam, qui quavis lingua philosophari possint; An tu me de L. Dat enim intervalla et relaxat. Duo Reges: constructio interrete.
                                </p>
                                <span class="divider"></span>
                                <p class="text-colored-grey">
                                    Equidem, sed audistine modo de Carneade? Ergo hoc quidem apparet, nos ad agendum esse natos. Quis istud, quaeso, nesciebat? Atqui reperies, inquit, in hoc quidem pertinacem; Atqui haec patefactio quasi rerum opertarum, cum quid quidque sit aperitur, definitio est. Quam nemo umquam voluptatem appellavit, appellat; Non enim iam stirpis bonum quaeret, sed animalis. Hoc non est positum in nostra actione..
                                </p>
                                <p class="text-colored-grey">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam si explicavisset, non tam haesitaret. Scio enim esse quosdam, qui quavis lingua philosophari possint; An tu me de L. Dat enim intervalla et relaxat. Duo Reges: constructio interrete.
                                </p>
                                <!-- <p class="text-colored-grey">
                                    I was born and rasied in southern Arizona. I love the Arizona heat. Let's be realistic it is not a dry heat, it's a oven heat.
                                </p> -->
                            </div>
                            <!-- //.col-md-12 -->
                        </div>
                        <!-- //.row -->
                    </div>
                    <!-- //PROFILE TEXT END -->
                    <!-- CONTACT DETAILS START -->
                    <div class="contact-details">
                        <div class="row">
                            <div egr-page-scroll id="resumeButtonId" class="col-md-12">
                                <div class="page-scroll text-center">
                                    <a href="#resume" class="btn btn-lg btn-custom">
                                        <i class="icon-File-Download"></i> Link to Some Section
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //CONTACT DETAILS END -->
                </div>
                <!-- //.col-md-7 -->
                <!-- PROFILE PICTURE START -->
                <div class="col-md-5 hidden-xs hidden-sm pp-wrapper">
                    <div class="profile-picture style-one">
                        <img src="assets/images/profile-picture-2.jpg" alt="profile picture" class="img-responsive" />
                    </div>
                </div>
                <!-- //PROFILE PICTURE END -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.container -->
</section>
<!-- //PROFILE SECTION END -->
