<!-- SERVICES SECTION START -->
<section id="services" class="section">
    <div class="container section-wrapper">
        <div class="section-content">
            <div class="center-content">
                <h2 class="section-title">How I Help</h2>
                <p class="section-subtitle">
                    "The truest drive comes from doing what you love."&nbsp;&nbsp;&nbsp;&nbsp;<strong>― Peter
                    Diamandis</strong>
                </p>
                <span class="divider"></span>
            </div>
            <!-- //.row -->
            <!-- SERVICES START -->

                <div class="flex-container-thirds">
                    <div class="col">
                        <i class=" icon-Transform-2 text-colored-1"></i>
                        <span class="material-icons md-75">card_membership</span>
                        <h4 egr-animate-in-view animate-css="animated fadeInUp">Site</h4>
                        <p class="text-colored-grey">
                            site planning
                        </p>
                        <p class="text-colored-grey">
                            site feasibility studies
                        </p>
                        <p class="text-colored-grey">
                            space programming
                        </p>
                        <p class="text-colored-grey">
                            facility assessments
                        </p>
                    </div>
                    <div class="col">
                        <i class="icon-Chess text-colored-1"></i>
                        <span class="material-icons  md-75">work_outline</span>
                        <h4 egr-animate-in-view animate-css="animated fadeInUp">Project</h4>
                        <p class="text-colored-grey">
                            project management
                        </p>
                        <p class="text-colored-grey">
                            project scheduling
                        </p>

                        <p class="text-colored-grey">
                            project scheduling
                        </p>
                    </div>
                    <div class="col">
                        <i class="icon-Monitor-Tablet text-colored-1"></i>
                        <span class="material-icons md-75">desktop_windows</span>
                        <h4 egr-animate-in-view animate-css="animated fadeInUp">Building</h4>
                        <p class="text-colored-grey">
                            design consultation
                        </p>
                        <p class="text-colored-grey">
                            building code assessment
                        </p>
                        <p class="text-colored-grey">
                            building science
                        </p>
                        <p class="text-colored-grey">
                            building technology documentation
                        </p>
                    </div>

                </div>
            </div>


        <!-- //.section-content -->
    </div>
    <!-- //.container -->
</section>
<!-- //SERVICES SECTION END -->
