<!-- SERVICES SECTION START -->
<section id="services" class="section">
    <div class="container section-wrapper">
        <div class="section-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="section-title">How I Help</h2>
                    <p class="section-subtitle">
                        "The truest drive comes from doing what you love."&nbsp;&nbsp;&nbsp;&nbsp;<strong>― Peter Diamandis</strong>
                    </p>
                    <span class="divider"></span>
                </div>
                <!-- //.col-md-8 -->
            </div>
            <!-- //.row -->
            <!-- SERVICES START -->
            <div class="services">
                <div class="row" egr-match-height>
                    <!-- //.item -->
                    <div class="col-sm-4 col-md-4 item top dark-bg">
                        <div class="inner-content">
                            <i class=" icon-Transform-2 text-colored-1"></i>
                            <h4 egr-animate-in-view animate-css="animated fadeInUp">Site</h4>
                            <p class="text-colored-grey">
                                site planning
                            </p>
                            <p class="text-colored-grey">
                                site feasibility studies
                            </p>
                            <p class="text-colored-grey">
                                space programming
                            </p>
                            <p class="text-colored-grey">
                                facility assessments
                            </p>
                        </div>
                        <!-- //.inner-content -->
                    </div>
                    <!-- //.item -->
                    <div class="col-sm-4 col-md-4 item top dark-bg">
                        <div class="inner-content">
                            <i class="icon-Chess text-colored-1"></i>
                            <h4 egr-animate-in-view animate-css="animated fadeInUp">Project</h4>
                            <p class="text-colored-grey">
                                project management
                            </p>
                            <p class="text-colored-grey">
                                project scheduling
                            </p>

                            <p class="text-colored-grey">
                                project scheduling
                            </p>
                        </div>
                        <!-- //.inner-content -->
                    </div>
                    <!-- //.item -->
                    <div class="col-sm-4 col-md-4 item top dark-bg">
                        <div class="inner-content">
                            <i class="icon-Monitor-Tablet text-colored-1"></i>
                            <h4 egr-animate-in-view animate-css="animated fadeInUp">Building</h4>
                            <p class="text-colored-grey">
                                design consultation
                            </p>
                            <p class="text-colored-grey">
                                building code assessment
                            </p>
                            <p class="text-colored-grey">
                                building science
                            </p>
                            <p class="text-colored-grey">
                                building technology documentation
                            </p>
                        </div>
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //SERVICES END -->
            </div>
            <!-- //.section-content -->
        </div>
    </div>
        <!-- //.container -->
</section>
<!-- //SERVICES SECTION END -->
