<div class="section-header-65 padding-tb-15">
    <div class="bold underline">Cultural / Community</div>
    <div class="italic">
        These are the spaces for enlighten of the mind and senses.   It is the in gathering of
        diverse people together – places that celebrate life.  The libraries, hospitals, museums,
        senior centers – all these touch a core of the imparting of  knowledge, the celebration
        of the past, the caring and socialization of the elderly, the caring for life – and those
        that have come before.  I have worked on these facilities that open the senses to see the
        simplicity of life – to have a gentle breeze caress your face, to understand the importance
        of having a hand to hold for comfort, and understand that the best things in life are
        given and not received.
    </div>


    <br/>

    <div>
        <span class="bold">Tohono O’odham Nation: Museum / Cultural Center</span>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Topawa, AZ</span>
    </div>
    <div>
        35,000 SF Museum
    </div>
    <div>
        5,000 SF Cultural Center
    </div>
    <div>
        The museum consists of offices, an exhibit gallery, archives, and a
        repository for the Nation.  The Cultural Center provides a community space
        that includes offices, community classrooms, and an art studio.  There is a
        large outdoor courtyard for cultural dancing and community events.
    </div>

</div>
