<div class="section-header-65 padding-tb-15">
    <div class="bold underline">Career & Technical Education / Higher Education</div>
    <div class="italic">
        As the area of career and technical education continues to re-surge due to
        the refocus on questioning the readiness of high school graduates – it has
        become more important to have students find their passion prior to high
        school graduation.   I have spent more than a decade of professional service
        working with administrators in the trenches – from early discussions in
        curriculum development, master planning, space programming, project design
        from conception to development, and developing a phased execution to achieve the vision.
    </div>



    <div *ngIf="showWestMECNortheastCampusPhoenixVerbiage">
        <div>
            <span class="bold">West-MEC Northeast Campus Phoenix, AZ – Phases 1 & 2</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phoenix, AZ</span>
        </div>
        <div>
            Phase 1: Renovations & Site work
        </div>
        <div class="section-header-80">
            Building A & B: 94,000 SF - The renovations of the existing Buildings A & B
            provided the following functions for the campus: Student Services - consists
            of administrative offices, conference rooms; a simulated clinic for Health
            Sciences, consisting of a lab environment with flexibility and classrooms spaces;
            Construction Trades with labs and classrooms and Auto Technology, with working bays, and classrooms.
        </div>
        <div>
            Phase 2: New Build
        </div>
        <div class="section-header-80">
            <div>Building C: 17,000 SF Auto Collision building with a commercial paint booth,
                classrooms, labs and outdoor workspaces</div>
            <div>
                Building D: 23,000 SF Veterinary Sciences building with labs, animal
                holding rooms, surgery, waiting rooms, and classrooms
            </div>
        </div>
    </div>

    <div *ngIf="showWestMECCentralCampusVerbiage">
        <div>
            <span class="bold">West-MEC Central Campus</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Glendale, Arizona</span>
        </div>
        <div>
            Phase 3: New Build
        </div>
        <div class="section-header-80">
            <div>Building B: 38,000 SF</div>
            <div>
                A two story building includes avionics, welding technology,
                and CNC lab spaces and classrooms, and a large assembly space for the campus.
            </div>
        </div>
    </div>

    <div *ngIf="showWestMECSouthwestCampusVerbiage">
        <div>
            <span class="bold">West-MEC Southwest Campus </span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Buckeye, AZ</span>
        </div>
        <div class="italic">
            Unique partnership with K-12, higher education,
            and industry partner: West-MEC + Estrella Mountain
            Community College + Arizona Public Service (APS)
        </div>
        <div>
            Master Planning & Bonding Planning & Phasing Design & Implementation
        </div>
        <div>
            Phase 1:  New Build
        </div>
        <div class="section-header-80">
            <div>Building A & B:  77,850 SF</div>
            <div>Student Services & Sustainable Energy</div>
            <div>
                Student Services consisted of administrative offices for the campus,
                conference and meeting spaces, as well as a 2nd floor dedicated to
                Estrella Mountain Community College with administrative spaces and meeting spaces.
            </div>
            <div>
                The Sustainable Energy Building consists of mechanical, electrical,
                instrumentation and controls labs, classrooms, and teacher / instructor offices.
            </div>
        </div>

        <div>
            Phase 2:  New Build
        </div>
        <div class="section-header-80">
            <div>Building C: 30,000 SF</div>
            <div>Industrial Technology consists of construction trade
                labs, cybersecurity, and medical assistant labs, along
                with classrooms and administrative spaces.
            </div>
        </div>

        <div>
            Phase 3: New Build - Buildings X, D & G
        </div>
        <div class="section-header-80">
            <div>Building X: 8,675 SF – NEX</div>
            <div>
                The ‘Next Energy Experience’ Building an a unique assembly space
                providing flexible large gathering spaces for the district, campus,
                and the community.The ‘Next Energy Experience’ Building an a unique
                assembly space providing flexible large gathering spaces for the
                district, campus, and the community.
            </div>
            <div>
                Building D: 25,915 SF - Veterinary Sciences + STEM Labs
            </div>
            <div>
                This building consists of surgery labs, animal holding rooms,
                STEM project labs and classrooms, as well outdoor kennels,
                dog runs, and an open corral for large animals.
            </div>
            <div>
                Building G: 29,900 SF – Cosmetology & Dental Assisting
            </div>
            <div>
                The cosmetology program is designed as a working salon for
                students and works in partnership with the community to provide
                cosmetology services for the benefit of all.  The Dental Assisting
                program is designed with an open lab concept, equipped with innovating
                dental equipment to provide excellent working environments for students.
            </div>
        </div>

        <div>
            Phase 3B: New Build
        </div>
        <div class="section-header-80">
            <div>Building F: 36,432 SF - Health Sciences</div>
            <div>
                This open floor plan concept for simulated health clinic allows students to
                work in different areas based on instruction, where supervision and accessibility
                to equipment is inherent in all aspects the design.
            </div>
        </div>

        <div>
            Phase 4: New Build
        </div>
        <div class="section-header-80">
            <div>Building E: 26,454 SF - Welding & Auto Technology</div>
            <div>
                This building houses high bay labs with indoor and outdoor project spaces
                for project based learning.  Classrooms and instructor spaces are adjacent
                for accessibility and flexibility of learning opportunities for both welding
                and auto technology programs.
            </div>
        </div>


        <div class="bold">
            Award Winning Project
        </div>
        <div>
            <p>2015 WESTMARC Best of the West Excellence in Innovation Award</p>
        </div>
        <div>
            <p>2018 AIA Arizona: Goodwin Award – Recognition of Great Collaboration between Owner, Architect, & Contractor</p>
        </div>
    </div>
</div>
