/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #0a0a0a;
  color: #ffffff;
}


/** Material Design Add Ons **/
@import 'style-material-overrides';

/** Flex box styles **/
@import 'style-flexbox';


/** Flex box styles **/
@import 'style-global-pages';


