
//----------------------------------*\
// SCSS MATERIAL DESIGN
//----------------------------------*/

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-55 { font-size: 55px; }
.material-icons.md-75 { font-size: 75px; }
.material-icons.md-85 { font-size: 85px; }
.material-icons.md-90 { font-size: 90px; }
.material-icons.md-115 { font-size: 115px; }
.material-icons.md-190 { font-size: 190px; }