@import 'style-mixins-and-modules-imports';


.text-decoration-none { text-decoration: none }
.bold    { font-weight: var(--bold-font-weight, bold) }
.regular { font-weight: normal }
.italic  { font-style: italic }
.caps    { text-transform: uppercase; letter-spacing: var(--caps-letter-spacing); }

.left-align   { text-align: left }
.center       { text-align: center }
.right-align  { text-align: right }
.justify      { text-align: justify }

.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }

.line-height-1 { line-height: var(--line-height-1) }
.line-height-2 { line-height: var(--line-height-2) }
.line-height-3 { line-height: var(--line-height-3) }
.line-height-4 { line-height: var(--line-height-4) }

.list-style-none { list-style: none }
.underline { text-decoration: underline }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.padding-tb-15 {
  padding: 15px 0;
}

.padding-top-5 {
  padding-top: 5px;
}



/*---------------------------------------------------------------------*/
/* 6. SECTION
/*---------------------------------------------------------------------*/

.section-header-65 {
  width: 65%;
  margin: 0 auto;
  > div {
    //each child div gets 1 px (only 1 level)
    padding: 1px;
  }
}

.section-header-80 {
  width: 80%;
  margin: 0 auto;
}

.section .section-wrapper > .section-content {
  padding: 80px 0;
}
/** Desktop **/
@media (min-width: 768px) {
  .section .section-wrapper > .section-content {
    padding: 100px 0;
    width: 80%;
    margin: 0 auto;
  }
}

h2.section-title {
  margin-bottom: 20px;
  @include font-size($font-size-28);
  text-transform: uppercase;
  letter-spacing: 1px;
}
/** Mobile **/
@media (max-width: 768px) {
  h2.section-title {
    @include font-size($font-size-20);
  }
}

h3.section-title {
  margin-bottom: 20px;
  @include font-size($font-size-24);
  text-transform: uppercase;
  letter-spacing: 1px;
}


.section .section-wrapper > .section-content  .section-subtitle {
  @include font-size($font-size-18);
  font-style: italic;
}

.text-colored-grey {
  color: #a1a1a1;
}


.img-responsive {
  @include img-responsive();
}


.img-full-page-preview {
 @include img-full-page-preview();
}
