/** Material Design Add Ons **/
@import 'style-mixins-and-modules-imports';

//----------------------------------*\
// Flex DESIGN
//----------------------------------*/

.center-block {
  display: block;
  margin: 0 auto;
  text-align: center;
  @include center-block;
}


.flex-container {
  display: flex;

  &.flex-center {
    justify-content: center;
  }

  .col {
    flex: 1;
  }

  .col-half {
    width: 50%;
  }

  .col-thirds {
    width: 32%;
  }

  .center-txt {
    text-align: center;
  }
}


//Mobile styling
@media (max-width: 430px) {
  .flex-container {
    justify-content: normal;
    flex-direction: column;

    .col, .col-half, .col-thirds {
      width: 100%;
      padding: 15px 0;
    }
  }
}
