@import '~@angular/material/theming';
@include mat-core();



/** --------------------------CUSTOM HUGE COLORS ----------------------------------- **/
/* ======== Angular material custom colors ======== */
/* http://mcg.mbitson.com/#!?mcgpalette0=%23d0ae89&themename=mcgtheme */
/* got to file for examples /home/ernesto/git/hawkins-architecture/node_modules/@angular/material/_theming.scss **/
$my-light-brown: (
        50: #f9f5f1,
        100: #f1e7dc,
        200: #e8d7c4,
        300: #dec6ac,
        400: #d7ba9b,
        500: #d0ae89,
        600: #cba781,
        700: #c49d76,
        800: #be946c,
        900: #b38459,
        A100: #ffffff,
        A200: #fff2e7,
        A400: #ffd7b4,
        A700: #ffca9b,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $dark-primary-text,
                600: $dark-primary-text,
                700: $dark-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $dark-primary-text,
                A400: $dark-primary-text,
                A700: black,
        )
);

$my-light-yellow: (
        50: #fff8e1,
        100: #ffecb5,
        200: #ffe083,
        300: #ffd451,
        400: #ffca2c,
        500: #ffc107,
        600: #ffbb06,
        700: #ffb305,
        800: #ffab04,
        900: #ff9e02,
        A100: #ffffff,
        A200: #fffaf2,
        A400: #ffe4bf,
        A700: #ffd9a6,
        contrast: (
                50: #000000,
                100: #000000,
                200: #000000,
                300: #000000,
                400: #000000,
                500: #000000,
                600: #000000,
                700: #000000,
                800: #000000,
                900: #000000,
                A100: #000000,
                A200: #000000,
                A400: #000000,
                A700: #000000
        )
);

$my-dark-brown: (
        50 : #e8e8e7,
        100 : #c6c5c2,
        200 : #a19e9a,
        300 : #7b7772,
        400 : #5e5953,
        500 : #423c35,
        600 : #3c3630,
        700 : #332e28,
        800 : #2b2722,
        900 : #1d1a16,
        A100 : #ffb264,
        A200 : #ff9831,
        A400 : #fd7f00,
        A700 : #e47200,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);


/** --------------------------Primary OVERRIDES----------------------------------- **/
$my-1-primary: mat-palette($mat-cyan);
$my-1-accent: mat-palette($mat-amber, A200, A100, A400);
$my-1-warn: mat-palette($mat-deep-orange);

/** --------------------------Secondary OVERRIDES----------------------------------- **/
$my-2-primary: mat-palette($my-light-brown, 400, 200, 600);
$my-2-accent: mat-palette($my-light-brown, 100, 500, A100);
$my-2-warn: mat-palette($mat-deep-orange, 500, 300, 700);


/** --------------------------Other OVERRIDES----------------------------------- **/
$my-3-primary: mat-palette($my-light-yellow, 400, 200, 600);
$my-3-accent: mat-palette($my-light-yellow, 100, 500, A100);
$my-3-warn: mat-palette($my-light-yellow, 500, 300, 700);


/** --------------------------Other OVERRIDES----------------------------------- **/
$my-4-primary: mat-palette($my-dark-brown, 400, 200, 600);
$my-4-accent: mat-palette($my-dark-brown, 100, 500, A100);
$my-4-warn: mat-palette($my-dark-brown, 500, 300, 700);


.my-dark-theme {
        $my-1-theme-dark: mat-dark-theme($my-1-primary, $my-1-accent, $my-1-warn);
        @include angular-material-theme($my-1-theme-dark);
        $primary: mat-color($my-1-primary);
        $accent: mat-color($my-1-accent);
        $warn: mat-color($my-1-warn);
        $fg_palette:map-get($my-1-theme-dark, foreground);
        $bg_palette:map-get($my-1-theme-dark, background);
        $fg:map-get($fg_palette, text);
        $bg:map-get($bg_palette, background);
        $appBar:map-get($bg_palette, app-bar);
        $statusBar:map-get($bg_palette, status-bar);
        $toolTip:map-get($bg_palette, tooltip);

        //Declare Variables using CSS4
        --primary: #{$primary};
        --accent: #{$accent};
        --warn: #{$warn};
        --fg: #{$fg};
        --bg: #{$bg};
        --bg2: #{$appBar};
        --bg3: #{$statusBar};
        --bg4: #{$toolTip};
}

.my-dark-theme4 {
        $my-4-theme-dark: mat-dark-theme($my-4-primary, $my-4-accent, $my-4-warn);
        @include angular-material-theme($my-4-theme-dark);
        $primary: mat-color($my-4-primary);
        $accent: mat-color($my-4-accent);
        $warn: mat-color($my-4-warn);
        $fg_palette:map-get($my-4-theme-dark, foreground);
        $bg_palette:map-get($my-4-theme-dark, background);
        $fg:map-get($fg_palette, text);
        $bg:map-get($bg_palette, background);
        $appBar:map-get($bg_palette, app-bar);
        $statusBar:map-get($bg_palette, status-bar);
        $toolTip:map-get($bg_palette, tooltip);

        //Declare Variables using CSS4
        --primary: #{$primary};
        --accent: #{$accent};
        --warn: #{$warn};
        --fg: #{$fg};
        --bg: #{$bg};
        --bg2: #{$appBar};
        --bg3: #{$statusBar};
        --bg4: #{$toolTip};

        //Use this to debug
        $all-fg-map-keys: map-keys($fg_palette);
        // Log map keys (in compiler console log)
        @debug '-----$all-fg-map-keys START---';
        @debug $all-fg-map-keys;
        @debug '-----$all-fg-map-keys END---';

        //Use this to debug
        $all-bg-map-keys: map-keys($bg_palette);
        // Log map keys (in compiler console log)
        @debug '-----$all-bg-map-keys START---';
        @debug $all-bg-map-keys;
        @debug '-----$all-bg-map-keys END---';

}

.my-light-theme {
        $my-2-theme-light: mat-light-theme($my-2-primary, $my-2-accent, $my-2-warn);
        @include angular-material-theme($my-2-theme-light);
        $primary: mat-color($my-2-primary);
        $accent: mat-color($my-2-accent);
        $warn: mat-color($my-2-warn);
        $fg_palette:map-get($my-2-theme-light, foreground);
        $bg_palette:map-get($my-2-theme-light, background);
        $fg:map-get($fg_palette, text);
        $bg:map-get($bg_palette, background);
        $appBar:map-get($bg_palette, app-bar);
        $statusBar:map-get($bg_palette, status-bar);
        $toolTip:map-get($bg_palette, tooltip);

        //Declare Variables using CSS4
        --primary: #{$primary};
        --accent: #{$accent};
        --warn: #{$warn};
        --fg: #{$fg};
        --bg: #{$bg};
        --bg2: #{$appBar};
        --bg3: #{$statusBar};
        --bg4: #{$toolTip};
}

.my-light-theme3 {
        $my-3-theme-light: mat-light-theme($my-3-primary, $my-3-accent, $my-3-warn);
        @include angular-material-theme($my-3-theme-light);
        $primary: mat-color($my-3-primary);
        $accent: mat-color($my-3-accent);
        $warn: mat-color($my-3-warn);
        $fg_palette:map-get($my-3-theme-light, foreground);
        $bg_palette:map-get($my-3-theme-light, background);
        $fg:map-get($fg_palette, text);
        $bg:map-get($bg_palette, background);
        $appBar:map-get($bg_palette, app-bar);
        $statusBar:map-get($bg_palette, status-bar);
        $toolTip:map-get($bg_palette, tooltip);

        //Declare Variables using CSS4
        --primary: #{$primary};
        --accent: #{$accent};
        --warn: #{$warn};
        --fg: #{$fg};
        --bg: #{$bg};
        --bg2: #{$appBar};
        --bg3: #{$statusBar};
        --bg4: #{$toolTip};
}


/** --------------------------START FONT STYLING OVERRIDES----------------------------------- **/
// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
        $font-family: 'Century Gothic,CenturyGothic,AppleGothic,sans-serif',
        //$headline: mat-typography-level(48px, 64px, 700),
        $body-1: mat-typography-level(16px, 24px, 500),
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
/** --------------------------END FONT STYLING OVERRIDES----------------------------------- **/




/** --------------------------START ICON STYLING OVERRIDES----------------------------------- **/
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-55 { font-size: 55px; }
.material-icons.md-75 { font-size: 75px; }
.material-icons.md-85 { font-size: 85px; }
.material-icons.md-90 { font-size: 90px; }
.material-icons.md-115 { font-size: 115px; }
.material-icons.md-190 { font-size: 190px; }
/** --------------------------END ICON STYLING OVERRIDES----------------------------------- **/




@function print-to-console($color_map) {
        //Use this to debug
        $all-map-keys: map-keys($color_map);
        // Log map keys (in compiler console log)
        @debug '-----$all-map-keys START---';
        @debug $all-map-keys;
        @debug '-----$all-map-keys END---';
}
