@import 'style-mixins-and-modules-imports';

/*---------------------------------------------------------------------*/
/* 6. SECTION
/*---------------------------------------------------------------------*/


.section .section-wrapper > .section-content {
  padding: 80px 0;
}

@media (min-width: 768px) {
  .section .section-wrapper > .section-content {
    padding: 100px 0;
    width: 80%;
    margin: 0 auto;
  }
}

.section .section-wrapper > .section-content  .section-title {
  color: $silver-chalice;
  margin-bottom: 20px;
  @include font-size($font-size-35);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section .section-wrapper > .section-content  .section-subtitle {
  @include font-size($font-size-18);
  font-style: italic;
}

.section .section-wrapper > .section-content .section-title {
  color: #a1a1a1;
  margin-bottom: 20px;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

//.section .section-wrapper .flex-container > div > h4 {
//  margin-top: 15px;
//  text-transform: uppercase;
//  letter-spacing: 1px;
//  color: red;
//}

.divider {
  background-color: #D0AE89;
  margin: 35px 0;
  width: 500px;
  height: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-colored-grey {
  color: #a1a1a1;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}


.img-responsive {
  @include img-responsive();
}