/** Flex box styles **/
@import 'style-flexbox';


/** Global App styles **/
@import 'style-app-global-pages';




/*---------------------------------------------------------------------*/
/*  1. GLOBAL STYLES
/*---------------------------------------------------------------------*/

* {
  //-webkit-font-smoothing:antialiased;
  //font-smoothing:antialiased;
  //text-rendering:optimizeLegibility;
  //@include box-sizing(border-box);
}

body,
html {
  //width: 100%;
  //height: 100%;
}

body {
  margin: 0;
  //background-color: darken($cod-gray, 5%);
  //color: $white;
  overflow-x: hidden;
}

/*---------------------------------------------------------------------*/
/*  Global ANCHOR Tag
/*---------------------------------------------------------------------*/

a {
  color: var(--primary);
}

a:hover,
a:focus {
  color: var(--primary);
}
