/** Material Design Add Ons **/
@import 'style-material-overrides';

/** Flex box styles **/
@import 'style-flexbox';


/** Global App styles **/
@import 'style-app-global-pages';


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  background-color: #0a0a0a;
  color:#fff;
  font-family:Lato,sans-serif;
  font-style:normal;
  //TODO Fix this shouldnt have to do imporatnt. I think its coming from Material overrides
  font-size:16px !important;
  line-height:25px !important;
}




