<mat-sidenav-container>
  <mat-sidenav opened="false" mode="over" #snav>
    <mat-nav-list>

      <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <span class="full-width">Home</span>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : true}">
          <a mat-list-item class="right"
             [routerLink]="['/home', { sectionId: 'profile' }]" [state]="{ data: { sectionId: 'profile' }}"
             [class.active-link]="isLinkActive('profile')">Profile</a>

          <a mat-list-item class="right"
             [routerLink]="['/home', { sectionId: 'services' }]" [state]="{ data: { sectionId: 'services' }}"
             [class.active-link]="isLinkActive('services')">Services</a>

          <a mat-list-item class="right"
             [routerLink]="['/home', { sectionId: 'contact' }]" [state]="{ data: { sectionId: 'contact' }}"
             [class.active-link]="isLinkActive('contact')">Contact</a>

        <!--TODO: For some reason the routes declared below this comment didnt work....but it is the popper way send navroutes-->
<!--        <a mat-list-item class="right"
           [routerLink]="['/home/', { sectionId: 'profile' }]"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Profile</a>

        <a mat-list-item class="right"
           [routerLink]="['/home/', { sectionId: 'services' }]"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Services</a>

        <a mat-list-item class="right"
           [routerLink]="['/home/', { sectionId: 'contact' }]"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Contact</a>-->


<!--        <a mat-list-item class="right" [appEgrScrollTo]="'#profile'" (click)="closeSideNavAction()">Profile</a>-->
<!--        <a mat-list-item class="right" [appEgrScrollTo]="'#services'" (click)="closeSideNavAction()">Services</a>-->
<!--        <a mat-list-item class="right" [appEgrScrollTo]="'#contact'" (click)="closeSideNavAction()">Contact</a>-->
      </div>


<!--      <mat-list-item (click)="showSpecialtySchoolsSubmenu = !showSpecialtySchoolsSubmenu" class="parent">
        <span class="full-width" *ngIf="showSpecialtySchoolsSubmenu">Parent Menu</span>
        <mat-icon mat-list-icon>home</mat-icon>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSpecialtySchoolsSubmenu}">expand_more</mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSpecialtySchoolsSubmenu}" *ngIf="showSpecialtySchoolsSubmenu">
        <a mat-list-item
           routerLink="/portfolio/service-facilities"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Service Facilities</a>
        <a mat-list-item
           routerLink="/portfolio/specialty-schools"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Specialty Schools</a>
      </div>-->


      <mat-list-item>
        <mat-icon mat-list-icon>desktop_windows</mat-icon>
        <span class="full-width">Portfolio</span>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : true}">
        <a mat-list-item class="right"
           routerLink="/portfolio/specialty-schools"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Specialty Schools</a>

        <a mat-list-item class="right"
           routerLink="/portfolio/technical-education"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Career & Technical Education / Higher Education</a>

        <a mat-list-item class="right"
           routerLink="/portfolio/service-facilities"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Support Service Facilities</a>

        <a mat-list-item class="right"
           routerLink="/portfolio/cultural-community"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Cultural / Community</a>


        <!-- new links -->
        <a mat-list-item class="right"
           routerLink="/portfolio/phoenix-day-school-for-the-deaf"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Phoenix Day School for the Deaf</a>
        <a mat-list-item class="right"
           routerLink="/portfolio/laveen-elementary-for-the-deaf"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Laveen Elementary School</a>

        <a mat-list-item class="right"
           routerLink="/portfolio/west-mec-central-campus"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">West-MEC Central Campus</a>
        <a mat-list-item class="right"
           routerLink="/portfolio/west-mec-northwest-campus"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">West-MEC Northwest Campus</a>
        <a mat-list-item class="right"
           routerLink="/portfolio/west-mec-southwest-campus"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">West-MEC Southwest Campus</a>


        <a mat-list-item class="right"
           routerLink="/portfolio/buckeye-elementary-maintenance"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Buckeye Elementary School District #33</a>
        <a mat-list-item class="right"
           routerLink="/portfolio/distract-office"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">District Office & Maintenance/Transportation Complex</a>
        <a mat-list-item class="right"
           routerLink="/portfolio/madison-elementary-school"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Madison Elementary School District #38 - Warehouse Facility</a>

        <a mat-list-item class="right"
           routerLink="/portfolio/tohono-ooham-museum"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Tohono O’odham Museum & Cultural Center</a>

      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="stick-header-content">
    <mat-toolbar color="primary" class="stick-header-fixed" appEgrStickyMenu>
      <button
        class="menu-header-button nav-button"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        onclick="this.blur()"
        (click)="snavToggle(snav)">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="header-title-container">
        <a class="header-title-link" routerLink=".">{{ title }}</a>
      </span>
      <span class="color-header-button">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>format_color_fill</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="pickColor('my-dark-theme')">
            <div class="color-swatch" mat-menu-item>Dark Blue</div>
          </button>
          <button mat-menu-item (click)="pickColor('my-dark-theme4')">
            <div class="color-swatch" mat-menu-item>Dark Brown</div>
          </button>
          <button mat-menu-item (click)="pickColor('my-light-theme')">
            <div class="color-swatch" mat-menu-item>Light Brown</div>
          </button>
          <button mat-menu-item (click)="pickColor('my-light-theme3')">
            <div class="color-swatch" mat-menu-item>Light Yellow</div>
          </button>
        </mat-menu>
      </span>
    </mat-toolbar>
    <!-- content -->
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
    <!-- footer -->
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--  -->
