<mat-sidenav-container>
  <mat-sidenav opened="false" mode="over" #snav>
    <mat-nav-list>
      <!--<mat-list-item>
        <h4
          matLine
          routerLink="/home"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active-link">
          <mat-icon mat-list-icon class="example-icon">home</mat-icon>
          Home
        </h4>
      </mat-list-item>-->

      <mat-list-item
              routerLink="/home"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active-link">
        <mat-icon mat-list-icon>home</mat-icon>
        <span class="full-width">Home</span>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenuHome}" *ngIf="showSubmenuHome">
        <a mat-list-item class="right" [appEgrScrollTo]="'#profile'" (click)="closeSideNavAction()">Profile</a>
        <a mat-list-item class="right" [appEgrScrollTo]="'#services'" (click)="closeSideNavAction()">Services</a>
        <a mat-list-item class="right" [appEgrScrollTo]="'#contact'" (click)="closeSideNavAction()">Contact</a>
      </div>


      <mat-list-item (click)="showSubmenuProfile = !showSubmenuProfile">
        <mat-icon mat-list-icon>desktop_windows</mat-icon>
        <span class="full-width">Portfolio</span>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenuProfile}" *ngIf="showSubmenuProfile">
        <a mat-list-item class="right"
           routerLink="/portfolio/specialty-schools"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Specialty Schools</a>

        <a mat-list-item class="right"
           routerLink="/portfolio/technical-education"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Career & Technical Education / Higher Education</a>

        <a mat-list-item class="right"
           routerLink="/portfolio/service-facilities"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Support Service Facilities</a>

        <a mat-list-item class="right"
           routerLink="/portfolio/cultural-community"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="active-link">Cultural / Community</a>

      </div>

      <mat-list-item>
        <h4 matLine routerLink="/books" routerLinkActive="active-link">
          Books
        </h4>
      </mat-list-item>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        class="header-button"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="snavToggle(snav)">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="header-title">
        <a class="home-link" routerLink=".">{{ title }}</a>
      </span>
      <span class="header-button">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>format_color_fill</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
<!--          <button mat-menu-item (click)="pickColor('')">-->
<!--            <div class="color-swatch color-swatch-primary" mat-menu-item></div>-->
<!--          </button>-->
<!--          <button mat-menu-item (click)="pickColor('green')">-->
<!--            <div class="color-swatch color-swatch-green" mat-menu-item></div>-->
<!--          </button>-->
<!--          <button mat-menu-item (click)="pickColor('pink')">-->
<!--            <div class="color-swatch color-swatch-pink" mat-menu-item></div>-->
<!--          </button>-->
<!--          <button mat-menu-item (click)="pickColor('purple')">-->
<!--            <div class="color-swatch color-swatch-purple" mat-menu-item></div>-->
<!--          </button>-->
<!--          <button mat-menu-item (click)="pickColor('yellow')">-->
<!--            <div class="color-swatch color-swatch-yellow" mat-menu-item></div>-->
<!--          </button>-->
<!--          <button mat-menu-item (click)="pickColor('warn')">-->
<!--            <div class="color-swatch color-swatch-warn" mat-menu-item></div>-->
<!--          </button>-->

        </mat-menu>
      </span>
    </mat-toolbar>
    <!-- content -->
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
    <!-- footer -->
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--  -->
