
#contact {
  .flex-container {
    align-items: center;
    justify-content: center;
    .button-section {
      display: flex;
      align-items: center;
      justify-content: center;
      a.button-icon {
        margin-top: 10px;
        margin-bottom: 30px;
        display: inline-block;
        position: relative;
        padding-left: 40px;
        mat-icon {
          padding-right: 4px;
          position: absolute;
          top: 0;
          left: 3px;
          color: var(--bg4);
        }
      }
    }
  }
}

.left-border {
  border-left: 1px solid var(--primary);
}
