<!-- CONTACT SECTION START -->
<section id="contact" class="section">
    <div class="container section-wrapper">
        <div class="section-content">
            <div class="center-block">
                    <h2 class="section-title text-colored-grey">Contact Me</h2>
                    <p class="section-subtitle">
                        Have a question or project you'd like to discuss?
                    </p>
                    <span class="divider"></span>
            </div>
            <!-- //.row -->
            <div class="flex-container">
                <div class="col-half  center-block">
                    <h3 class="section-title">Call</h3>
                    <div class="text-colored-grey">Let’s start the conversation</div>
                    <div class="button-section flex-container">
                        <a color="primary" mat-raised-button class="button-icon" href="tel:16025719149">
                            <mat-icon class="example-icon md-36">call</mat-icon> <span>1-480-250-3829</span>
                        </a>
                    </div>
                </div>

                <div class="col-half center-block left-border">
                    <!-- CONTACT DETAILS START -->
                    <div class="contact-details text-center">
                        <h3 class="section-title">Email</h3>
                        <div class="text-colored-grey">Send a note</div>
                        <div class="button-section flex-container">
                            <a mat-raised-button
                               color="primary"
                               class="button-icon"
                               href="mailto:architecthawkins@gmail.com?subject=Architect Hawkins Site:&body=I'm interested in learning more about...">
                                <mat-icon class="example-icon md-36">mail_outline</mat-icon> <span>Architect Hawkins LLC</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //.container -->
</section>
<!-- //CONTACT SECTION END -->
