<!-- CONTACT SECTION START -->
<section id="contact" class="section">
    <div class="container section-wrapper">
        <div class="section-content">
            <div class="center-block">
                    <h2 class="section-title text-colored-grey">Contact Me</h2>
                    <p class="section-subtitle">
                        Have a question or project you'd like to discuss?
                    </p>
                    <span class="divider"></span>
            </div>
            <!-- //.row -->
            <div class="flex-container">
                <div class="col-half  center-block">
                    <h3 class="section-title">Details</h3>
                    <div class="text-colored-grey">Elizabeth Hawkins</div>
                    <div class="phone-section flex-container">
                        <a class="phone-icon" href="tel:16025719149">
                            <mat-icon class="example-icon">call</mat-icon>
                        </a>
                        <a href="tel:14802503829">1-480-250-3829</a>
                    </div>
                </div>

                <div class="col-half center-block left-border">
                    <!-- CONTACT DETAILS START -->
                    <div class="contact-details text-center">
                        <div class="speech-bubble">
                            <a href="mailto:architecthawkins@gmail.com?subject=Architect Hawkins Site:">
                                <span class="material-icons  md-190">mail_outline</span>
                                <h3 class="email-icon-title section-title text-colored-grey">
                                    <span>Email</span>
                                </h3>
                            </a>
                        </div>
                        <h4 class="text-colored-grey">
                            <a href="mailto:architecthawkins@gmail.com?subject=Architect Hawkins Site:">architecthawkins</a>
                        </h4>
                    </div>
                    <!-- //CONTACT DETAILS END -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.section-content -->
    </div>
    <!-- //.container -->
</section>
<!-- //CONTACT SECTION END -->
